APP_ENV=local
APP_DEBUG=false
APP_URL=http://company-profile-v2.test
APP_TIMEZONE=Asia/Jakarta
APP_KEY=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_DATABASE=database
DB_USERNAME=root
DB_PASSWORD=

# Email: 'mail', 'smtp', 'sendmail', atau 'dummy' (development)
EMAIL_DRIVER=dummy
EMAIL_FROM_ADDRESS=
EMAIL_FROM_NAME=
EMAIL_SMTP_HOST=
EMAIL_SMTP_PORT=465
EMAIL_SMTP_USERNAME=
EMAIL_SMTP_PASSWORD=
